# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.exe
*.log

# Настройки и файлы пользователя
config.json
uploads/
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# Qt
*.ui
*.qrc

venv/
__pycache__/
*.pyc
config.json
uploads/